
.ipynb_checkpoints/Downloading and Saving Data-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.pyc
.ipynb_checkpoints/Metrics w Explanation-checkpoint.ipynb
